<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>Kuya Marcus's Wishlist 2023</title>
</head>
<body>
    <h1>Kuya Marcus's Wishlist 2023</h1>
    <p>This site was hand-made for the purpose of directing family members on where to 
        buy stuff I want for Christmas that isn't easily obtainable on Amazon, as well as to show 
        where to buy items for as cheap as possible.
    </p>
    <p>An Amazon Wishlist is provided on top of this list for things that are already easily-available and cannot be found for cheaper elsewhere</p>
    <p>If something requires my email to be sent, please use lazaromarcuslazaro (at) gmail (dot) com</p>
    <table>
        <tr>
          <th>[Item]</th>
          <th>[Price]</th>
          <th>[Where]</th>
          <th>[Quantity Needed]</th>
          <th>[Notes]</th>
        </tr>
        <tr>
            <td>Amazon Wishlist</td>
            <td></td>
            <td><a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/2965RCVO3NXW1?ref_=wl_share">Amazon</a></td>
            <td></td>
            <td>If it's on the Amazon list, then it means I can't find it anywhere else for cheaper</td>
        </tr>
        <tr>
            <td>Ultimate Guard Arkhive 800+ Xenoskin (Purple)</td>
            <td>$67.99</td>
            <td><a target="_blank" href="https://www.tcgplayer.com/product/496028/deck-boxes-ultimate-guard-deck-boxes-arkhive-800plus-xenoskin-monocolor-purple?xid=pi606e186f-d5a1-4417-a804-b4527d3644d8&page=1&Language=English">TCGPlayer</a></td>
            <td>1</td>
            <td>Could not find the purple version of this on Amazon</td>
        </tr>
        <tr>
            <td>Gift Card: eBay</td>
            <td>X</td>
            <td><a target="_blank" href="https://pages.ebay.com/giftcard/retail.html">Local Retailers Only</a></td>
            <td>X</td>
            <td>Can't buy online. Check Best Buy, Target. $50.00 would be perfect :)</td>
        </tr>
        <tr>
            <td>Gift Card: TCGPlayer </td>
            <td>X</td>
            <td><a target="_blank" href="https://www.tcgplayer.com/giftcard">TCGPlayer</a></td>
            <td>X</td>
            <td>$50.00 would be perfect :)</td>
        </tr>
        <tr>
            <td>Yu-Gi-Oh Structure Deck: Beware of Traptrix</td>
            <td>$13.99/each</td>
            <td><a target="_blank" href="https://www.tcgplayer.com/product/451588/yugioh-structure-deck-beware-of-traptrix-beware-of-traptrix-structure-deck-1st-edition?Language=English">TCGPlayer</a></td>
            <td>2</td>
            <td>Please get two of these. It's cheaper to buy it on TCGPlayer than on Amazon ($19.99)</td>
        </tr>
        <tr>
            <td>Yu-Gi-Oh Booster Box: Invasion of Chaos (25th Annivesary)</td>
            <td>$49.99</td>
            <td><a target="_blank" href="https://www.tcgplayer.com/product/488583/yugioh-invasion-of-chaos-25th-anniversary-edition-invasion-of-chaos-booster-box-25th-anniversary-edition?Language=English">TCGPlayer</a></td>
            <td>1</td>
            <td>It's cheaper to buy it on TCGPlayer than on Amazon ($59.99)</td>
        </tr>
      </table> 
      <p>Last updated: 11/11/2023</p>
</body>
</html>


<!-- https://www.tcgplayer.com/product/496028/deck-boxes-ultimate-guard-deck-boxes-arkhive-800plus-xenoskin-monocolor-purple?xid=pi606e186f-d5a1-4417-a804-b4527d3644d8&page=1&Language=English -->