<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="../favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <!-- Embed -->
    <title>Art Portfolio</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="kshArtist" />
    <meta property="og:description" content="My name is Marcus, art is a side hustle" />
    <meta property="og:url" content="kingishksh.github.io" />
    <meta property="og:image" content="https://kingishksh.github.io/img/embed.png" />
  </head>

  <header>
    <img src="../img/portfolio/2022/22.05.21_cnColors.png" class="centerImage" />
    <!-- <h1>An Art Portfolio</h1> -->
    <h3>Press ESC or click outside of image to exit focus</h3>
  </header>

  <main>
    <body>
      <div class="modal" id="modalBox">
        <img src="IGNORE_THIS_WARNING_LOL" id="modal" />
        <!-- <span>X</span> -->
        <!-- <div class="modalButtons">
          <button>Download</button>
          <button>Share</button>
        </div> -->
      </div>
      <div class="portfolio">
        <img id="thumbnail" src="../img/portfolio/thumb/th_23.03.30_doctagon.png" onclick='openModal("../img/portfolio/2023/23.03.30_doctagon.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.11.06_wowie.png" onclick='openModal("../img/portfolio/2022/22.11.06_wowie.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.07.18_parasoul.png" onclick='openModal("../img/portfolio/2022/22.07.18_parasoul.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_22.07.19_dogs.png" onclick='openModal("../img/portfolio/2022/22.07.18_dogs.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_sparkmanchu.png" onclick='openModal("../img/portfolio/2021/21.05.18_sparkmanchu.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_wyatt.png" onclick='openModal("../img/portfolio/2021/21.03.22_wyatt.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_fungus.png" onclick='openModal("../img/portfolio/2021/21.03.22_fungus.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_pico.png" onclick='openModal("../img/portfolio/2021/21.01.11_pico.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_uptilt.png" onclick='openModal("../img/portfolio/2020/20.10.23_uptilt.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_tofuHD.png" onclick='openModal("../img/portfolio/2020/20.07.31_tofuHD.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_123SA3.png" onclick='openModal("../img/portfolio/2020/20.05.13_GeneiJin.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_legosi.png" onclick='openModal("../img/portfolio/2020/20.04.28_legosi.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_fsteak.png" onclick='openModal("../img/portfolio/2020/20.04.28_fsteak.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_somsnosa.png" onclick='openModal("../img/portfolio/2020/20.04.28_somsnosa.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_cock.png" onclick='openModal("../img/portfolio/2020/20.04.28_cock.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_fortune.png" onclick='openModal("../img/portfolio/2020/20.04.28_fortune.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_acnh_plane1.png" onclick='openModal("../img/portfolio/2020/20.01.22_acnhPlane.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_katiaFighter.png" onclick='openModal("../img/portfolio/2019/19.12.18_katiaFighter.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_Peone.png" onclick='openModal("../img/portfolio/2019/19.10.03_peoneFinal.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_Sunshine.png" onclick='openModal("../img/portfolio/2019/19.10.05_sunshine.png")' />
        <img id="thumbnail" src="../img/portfolio/thumb/th_skwigle.png" onclick='openModal("../img/portfolio/2019/19.06.03_skwigle.png")' />
      </div>
      <nav class="container">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
        </ul>
      </nav>
      <script src="../js/portfolio.js"></script>
    </body>
  </main>
</html>