<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Refresh" content="0; url='./views/index.html'" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./favicon.png" type="image/png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="kshArtist" />
    <meta property="og:description" content="My name is Marcus, art is a side hustle" />
    <meta property="og:url" content="kingishksh.github.io" />
    <meta property="og:image" content="https://kingishksh.github.io/img/assets/embed.png" />
    <title>"Loading"</title>
  </head>
  <body>
    <h1>Loading...</h1>
    <h3>Hi it's "loading" lol. This page is NOT too important</h3>
  </body>
</html>

<!-- PLEASE wake up 07/01/2023 -->