<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Art Portfolio || Marcus Lazaro</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<header>
    <img src="./img/assets/bg01.png" class="centerImage">
    <h1>Portfolio</h1>
    <h3>Click on any thumbnail for a full view</h3>
</header>
<main>

    <body>
        <div id="myBtn">
            <div class="portfolioCenter">
                <!--2022-->
                <br>
                <p>2022</p>
                <img src="./img/portfolio/thumb/th_cnColors.png" onclick='changeImage("./img/portfolio/cnColors.png")'>
            </div>
            <div class="portfolioCenter">
                <!--2021-->
                <p>2021</p>
                <img src="./img/portfolio/thumb/th_girl.png" onclick='changeImage("./img/portfolio/girl.png")'>
                <img src="./img/portfolio/thumb/th_sparkmanchu.png"
                    onclick='changeImage("./img/portfolio/sparkmanchu.png")'>
                <img src="./img/portfolio/thumb/th_wyatt.png" onclick='changeImage("./img/portfolio/wyatt.png")'>
                <img src="./img/portfolio/thumb/th_fatback.png" onclick='changeImage("./img/portfolio/fatback.png")'>
                <img src="./img/portfolio/thumb/th_rudegirl.png" onclick='changeImage("./img/portfolio/rudegirl.png")'>
                <img src="./img/portfolio/thumb/th_pico.png" onclick='changeImage("./img/portfolio/pico.png")'>
                <br>
            </div>
            <div class="portfolioCenter">
                <!--2020-->
                <br>
                <p>2020</p><br><br>
                <img src="./img/portfolio/thumb/th_legosi.png" onclick='changeImage("./img/portfolio/legosi.png")'>
                <img src="./img/portfolio/thumb/th_fsteak.png" onclick='changeImage("./img/portfolio/fsteak.png")'>
                <img src="./img/portfolio/thumb/th_kizunaai.png" onclick='changeImage("./img/portfolio/kizunaai.png")'>
                <img src="./img/portfolio/thumb/th_somsnosa.png" onclick='changeImage("./img/portfolio/somsnosa.png")'>
                <img src="./img/portfolio/thumb/th_cock.png" onclick='changeImage("./img/portfolio/cock.png")'>
                <img src="./img/portfolio/thumb/th_fortune.png" onclick='changeImage("./img/portfolio/fortune.png")'>
            </div>

            <div class="portfolioCenter">
                <!--2019-->
                <br>
                <p>2019</p><br><br>
                <img src="./img/portfolio/thumb/th_pfp2020.png"
                    onclick='changeImage("./img/portfolio/ingridPFP2020.png")'>
                <img src="./img/portfolio/thumb/th_coldgirl.png" onclick='changeImage("./img/portfolio/coldgirl.png")'>
                <img src="./img/portfolio/thumb/th_katiaFighter.png"
                    onclick='changeImage("./img/portfolio/katiaFighter.png")'>
                <img src="./img/portfolio/thumb/th_Peone.png" onclick='changeImage("./img/portfolio/peone.png")'>
                <img src="./img/portfolio/thumb/th_Sunshine.png" onclick='changeImage("./img/portfolio/sunshine.png")'>
                <img src="./img/portfolio/thumb/th_skwigle.png" onclick='changeImage("./img/portfolio/skwigle.png")'>
            </div>
            <div class="portfolioCenter">
                <!--2018-->
                <br>
                <p>2018</p><br><br>
                <img src="./img/portfolio/thumb/th_ankhaBeach.png"
                    onclick='changeImage("./img/portfolio/ankhaBeach.png")'>
                <img src="./img/portfolio/thumb/th_punch2.png" onclick='changeImage("./img/portfolio/punch2.png")'>
                <img src="./img/portfolio/thumb/th_rakuga.png"
                    onclick='changeImage("./img/portfolio/rakuga_kids_OG.png")'>
                <img src="./img/portfolio/thumb/th_aggretsuko.png"
                    onclick='changeImage("./img/portfolio/aggretsuko.png")'>
                <img src="./img/portfolio/thumb/th_ankha2018.png"
                    onclick='changeImage("./img/portfolio/ankha2018.png")'>
                <img src="./img/portfolio/thumb/th_odyssey.png" onclick='changeImage("./img/portfolio/odyssey.png")'>
            </div>
        </div>
        <!-- The Modal Itself -->
        <div id="myModal" class="modal">
            <!--assigns var modal -->
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <img id="img" height=70% width=70% src="OMG_DJCHAMPLOO!!">
                <p>(Press the Esc key to exit)</p>
            </div>
        </div>
        <script src="./portfolio.js"></script>
    </body>
</main>

<footer>
    <div class="divCenter">
        <a style="color: white" href="../../index.html">[Home]</a></li>
    </div>
</footer>

</html>