@font-face {
  font-family: 'adultSwim';
  src:
    url('../fonts/adultSwim.ttf');
}

@font-face {
  font-family: 'impact';
  src:
    url('../fonts/impact.ttf');
}

@font-face {
  font-family: 'kshFont';
  src:
    url('../fonts/Foolishking-Regular.ttf');
}

html {
  font-family: kshFont;
  font-size: x-large;
  background: black;
  background-size: cover;
}

p {
  font-size: 20px;
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
  color: white;
}

.divCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}

.portfolioCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}

.centerImage {
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Puts white box modal on top of everything. Higher z-index = Higher overlap on top of other elements*/
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity, gives that sorta vignette look */
}

/* Modal Content/Box */
.modal-content {
  margin: auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 70%;
  /* Could be more or less, depending on screen size */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.7);
  animation-name: modalopen;
  animation-duration: 1s;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 56px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/*Beginning of Toolbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 5px;
  border: white;
  border-style: groove;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);

}

li a:hover {
  background-color: rgba(255, 0, 64, 0.5);
}

/*End of Toolbar*/